*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;    
    
    
}
header{
    font-size: xx-large;
    font-weight:  bold;
    text-align: center;
    color: rgb(39, 39, 39);
}
